<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Welcome to <%= title %></h2>
    <p><a href= "/">index</a></p>
    <p><a href= "/quizzes">quizzes</a></p>
    <p><a href= "/credits">créditos</a></p>
    <p>DANIEL ACOSTA Y JOSE MANUEL RENGIFO</p>
    
    <img src="http://www.viajarporextremadura.com/cubic/datos/docs/doc_17/imag_990_alcazar_duques_feria.jpg">
  </body>
</html>
